<div class="container h-100" style="margin-top: -1800px;">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-9" #form="ngForm" (ngSubmit)="form.valid&&onsubmit()">
            <div class="AppForm shadow-lg">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="AppFormLeft">

                            <h1>Login</h1>
                            <div class="form-group position-relative mb-4">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none" id="username"
                                    placeholder="Username" name="email" #email="ngModel" [(ngModel)]="logindata.email">
                                    <i class="fa fa-user-o"></i>
                                    <label class="text-danger" *ngIf="form.submitted&&email.errors?.['required']" >Username must required</label>
                            </div>
                            <div class="form-group position-relative mb-4">
                                <input type="password" class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none" id="password"
                                    placeholder="Password" name="password" #password="ngModel" [(ngModel)]="logindata.password">
                                    <i class="fa fa-key"></i>
                                    <label class="text-danger" *ngIf="form.submitted&&password.errors?.['required']">Password must required</label>

                            </div>
                            <div class="row  mt-4 mb-4">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="#" style="visibility: hidden;">Forgot Password?</a>
                                </div>
                            </div>

                            <button class="btn btn-success btn-block shadow border-0 py-2 text-uppercase ">
                                Login
                            </button>

                            <p class="text-center mt-5">
                                Don't have an account?
                                <span>
                                    <button (click)="goto()" style="border-radius: 10px; width: 120px; border-color: rgb(117, 32, 104);">Register</button>
                                </span>

                            </p>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="AppFormRight position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                            <h2 class="position-relative px-4 pb-3 mb-4">Welcome</h2>
                            <p>Lorem ipsuing elit. Molomos totam est voluptatum i omos totam est voluptatum i ure sit consectetur ill</p>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>